/* 
    Created on : 18/03/2016, 04:25:53 PM
    Author     : Rogelio Vargas <rogelio@dsindigo.mx>
*/

body{
    height: 100%;
    width: 100%;
}

html{
    height: 100%;
    width: 100%;
}


/*Banner del Home*/
.intro{
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    background: url('../img/banner.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
}


/*Colores de las secciones*/
.white-section{
    box-shadow: inset 0 0 35px #C1C1C1;
}


/*NAV BAR*/

@media(min-width:768px) {
    .navbar-default {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
        font-weight: 600;
        letter-spacing: 2px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    
    

    .navbar-default.top-nav-collapse {
        
        padding: 0;
        /*border-bottom: 1px solid rgba(255,255,255,.3);*/
        background-color: #022640;
        border-color: #011320;
    }
}

